
#heading {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
}

#title {
    text-align: center;
    font-size: 96px;
    font-display: bold;
    font-family: 'Times New Roman', Times, serif;  
    color: rgb(110, 109, 109);
    text-shadow: 1px 1px 2px rgb(241, 237, 237), 0 0 25px blue, 0 0 5px darkblue;
}

#textInput {
    text-align: right;
    padding-right: 140px;
    padding-bottom: 50px;
}

#instructions {
    padding-top: 45px;
    font-weight: bold;
    font-size: 22px; 
    font-family: "Garamond", "Book Antigua", "Bookman Old Style"; 
    color: rgb(71, 53, 173), 0 0 5px;
    text-shadow: 1px 1px 2px rgb(241, 237, 237), 0 0 25px blue, 0 0 5px darkblue;
}

#submit {
    font-weight: bold; 
    font-size: 22px; 
    font-family: "Garamond", "Book Antigua", "Bookman Old Style"; 
    background-color: rgb(150, 148, 148)     
}

#submit:hover {background-color: rgb(110, 109, 109)}

#submit:active {
  background-color: rgb(110, 109, 109);
  box-shadow: 0 5px rgb(180, 179, 179);
  transform: translateY(4px);
}

 /* body { */ 
    /* background: 100vw;
    height:100vh;
    background: url("../images/hollywood1.jpeg") no-repeat center;
    background-position: 50% 50%;   
    overflow: hidden;
    display:block;    
    margin: auto 0;
    background-size: cover; */
/* }   */

/* .background_image{
    height: 100vh;
    background: url("../images/hollywood1.jpeg") center center;
    width: 100%;
    min-height:100%;
    background-size: cover;
    overflow: hidden;
    } */

body { 
 background: url("../images/hollywood1.jpeg"); 
 background-repeat: no-repeat; 
 background-size: 100vw;
 overflow: hidden;
  
} 

body, html {
    overflow-x: hidden;
    height: auto;
}

#buttons button {
    color: blue;
}

#container {
    border-color: rgb(26, 4, 150);
    border-style: dotted;
    border-width: thick;
    padding: 50px;  
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
    float: left; 
    color: black;  
    font-family: "Garamond", "Book Antigua", "Bookman Old Style";
    font-size: 22px; 
    text-align: center;
}   

#gifs-appear-here {
    float: right;
}

#rating {
    color: black;  
    font-family: "Garamond", "Book Antigua", "Bookman Old Style";
    font-size: 22px;
}

