
#heading {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
}

#title {
    text-align: center;
    font-size: 96px;
    font-display: bold;
    font-family: 'Times New Roman', Times, serif;  
    color: rgb(110, 109, 109);
    text-shadow: 1px 1px 2px rgb(241, 237, 237), 0 0 25px blue, 0 0 5px darkblue;
}

#textInput {
    text-align: right;
    padding-right: 140px;
    padding-bottom: 50px;
    font-family: "Garamond", "Book Antigua", "Bookman Old Style";
}

#instructions {
    padding-top: 45px;
    font-weight: bold;
    font-size: 22px; 
    font-family: "Garamond", "Book Antigua", "Bookman Old Style"; 
    color: rgb(71, 53, 173), 0 0 5px;
    text-shadow: 1px 1px 2px rgb(241, 237, 237), 0 0 25px blue, 0 0 5px darkblue;
}

#submit {
    font-weight: bold; 
    font-size: 22px; 
    color: white;
    font-family: "Garamond", "Book Antigua", "Bookman Old Style"; 
    background-color: rgb(160, 112, 112);        
}

#submit:hover {background-color: rgb(141, 88, 88);}

#submit:active {
  background-color:rgb(160, 112, 112);
  box-shadow: 0 5px rgb(180, 179, 179);
  transform: translateY(4px);
}

#nameInput {
    font-weight: bold;
    font-size: 22px; 
    font-family: "Garamond", "Book Antigua", "Bookman Old Style"; 
}
  
body { 
 background: url("../images/hollywood1.jpeg") no-repeat; 
 background-size: 100vw;
 overflow: hidden;
 background-size: cover;
} 

body, html {
    overflow-x: hidden;
    height: auto;
}

#buttons button {
    color: rgb(239, 239, 247);
    background-color: rgb(160, 112, 112);
    padding: 10px;
    font-family: "Garamond", "Book Antigua", "Bookman Old Style";
    font-size: 22px;
    margin: 2px;

}

#container {
    border-color: rgb(216, 206, 60);    
    border-style: dotted;
    border-width: thick;
    padding: 10px;  
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

#imageContainer {
    padding: 50px;  
    margin-top: 60px;   
    float: left; 
    text-align: center;
    margin-left: 150px;
    color: black;  
    font-family: "Garamond", "Book Antigua", "Bookman Old Style";
    font-size: 22px;
}  

/* 
#gifs-appear-here {
    float: right;
} */

